@import url(input-container.css);
@import url(button.css);

:root {
    --input-transition-time: 0.5s;
    --input-radius: 5px;
}

.my-input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--input-radius);
    font-size: 14px;
    padding: 7px 10px;
    transition: var(--input-transition-time);
}

.my-input-lg {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--input-radius);
    padding: 10px;
    transition: var(--input-transition-time);
}

.my-input:focus {
    border: 1px solid var(--active-color);
}
