.my-input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
}

.my-input.my-input-sm {
    font-size: 14px;
    padding: 7px 10px;
}

button.my-input {
    padding: 10px 20px;
    background-color: var(--active-color);
    color: white;
}

button.my-input:hover {
    background-color: var(--active-hover-color);
}

.my-input:focus {
    border: 1px solid var(--active-color);
}

.my-input-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 10px;

    .my-input-container:first-child {
        width: 50%;
        max-width: 50%;
    }
}

.my-input-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    label {
        display: block;
        padding-bottom: 5px;
        font-weight: 400;
        font-size: 14px;
    }
    label * {
        font-size: 14px;
    }
}