.table-container {
    width: 100%;
    padding: 0px 20px;
}

table.table {
  border: none;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

table.table th, table.table td {
  border: none;
}

.table.table tbody {
  th, td {
    background-color: var(--row-data-table-color);
    font-size: var(--table-font-size);
    vertical-align:middle;
    
    span {
      font-size: var(--table-font-size);
    }
  }

  th.fit, td.fit {
    width: 1px;
    min-width: fit-content;
    white-space: nowrap;
    padding: 8px 25px;
  }

  
  td.start {
    border-radius: 5px 0px 0px 5px;
  }
  
  td.end{
    border-radius: 0px 5px 5px 0px;
  }
}