<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance System</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/all-task.css" />

</head>

<body>
  <%- include('../components/header.ejs') %>

    <div class="main">
      <%- include('../components/left-sidebar.ejs') %>
        <div class="body">
          <div class="article">
            <div class="content pb-3">
              <div class="content-header">
                <h5>แสดงข้อมูลงานซ่อมทั้งหมด</h5>
                <hr>
              </div>
              <form class="fillter-content">
                <div class="my-input-inline-container">
                  <div>
                    <label for="">แสดง</label>
                    <select name="" id="" class="my-input-inline">
                      <option value="1" selected>20</option>
                      <option value="2">50</option>
                      <option value="3">100</option>
                    </select>
                    <label for="" class="ms-1">รายการ</label>
                  </div>
                </div>
                <div class="my-input-inline-container">
                  <div>
                    <label for="">ตัวกรอง : </label>
                    <select name="" id="" class="my-input-inline">
                      <option value="1" selected>อินวอยด์</option>
                      <option value="2">ชื่อลูกค้า</option>
                      <option value="3">เบอร์โทร</option>
                      <option value="4">ยี่ห้อ</option>
                      <option value="5">รุ่น</option>
                      <option value="6">หมายเลขเครื่อง</option>
                      <option value="7">SN</option>
                      <option value="8">อาการที่แจ้ง</option>
                      <option value="9">อาการที่ซ่อม</option>
                    </select>
                  </div>
                  <div>
                    <label for="">ค้นหา : </label>
                    <input type="text" class="my-input-inline">
                  </div>
                </div>
              </form>
              <div class="table-container">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="text-center fit">อินวอยด์ : สถานะ</th>
                      <th class="text-center">ผู้ปรับล่าสุด</th>
                      <th class="fit-left-w">ชื่อ : เบอร์โทร</th>
                      <th class="fit-left-w">ยี่ห้อ : รุ่น</th>
                      <th class="fit-left-w">อิมี่ : sn</th>
                      <th class="fit-left-w">ราคา : ทุน</th>
                      <th class="fit-left-w">ผู้รับงาน</th>
                      <th class="fit-left-w">รายงาน</th>
                      <th class="end fit-end text-end">จัดการ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="start text-center fit" style="background-color: var(--color-received);">
                        <span>กำลังดำเนินการ</span><br>
                        <span>216547</span>
                      </td>
                      <td class="text-center fit">
                        <span>Roseedee Cehlaeh</span><br>
                        <span>12-12-67</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Customer Name</span><br>
                        <span>0653286598</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Asus</span><br>
                        <span>Tuf Gaming 3</span>
                      </td>
                      <td class="fit-left-w">
                        <span>123456789</span><br>
                        <span>123456789</span>
                      </td>
                      <td class="fit-left-w">
                        <span>1200 บาท</span><br>
                        <span>0 บาท</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Roseedee Cehlaeh</span><br>
                        <span>12-12-67</span>
                      </td>
                      <td class="test">
                        จอแตก
                      </td>
                      <td class="end fit-end text-end">
                        <a href="" class="my-icon-button-table-inline my-button-light" data-bs-toggle="modal" data-bs-target="#form"><img src="/icons/edit.png" alt="">จัดการ</a>
                      </td>
                      <div class="modal fade" id="form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog my-modal-dialog-task">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">จัดการยี่ห้ออุปกรณ์</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="my-modal-content-task">
                              <a href="" class="my-button-modal my-button-light" data-bs-toggle="modal" data-bs-target="">ดูรายละเอียด</a>
                              <a href="" class="my-button-modal my-button-success" data-bs-toggle="modal" data-bs-target="">ปรับสถานะงาน</a>
                              <a href="" class="my-button-modal my-button-edit" data-bs-toggle="modal" data-bs-target="">แก้ไขข้อมูล</a>
                              <a href="" class="my-button-modal my-button-bin" data-bs-toggle="modal" data-bs-target="">ลบงาน</a>
                            </div>
                            <div class="modal-footer"></div>
                          </div>
                        </div>
                      </div>
                    </tr>
                    <tr>
                      <td class="start text-center fit" style="background-color: var(--color-cancel);">
                        <span>ยกเลิก</span><br>
                        <span>216547</span>
                      </td>
                      <td class="text-center fit">
                        <span>Roseedee Cehlaeh</span><br>
                        <span>12-12-67</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Customer Name</span><br>
                        <span>0653286598</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Asus</span><br>
                        <span>Tuf Gaming 3</span>
                      </td>
                      <td class="fit-left-w">
                        <span>123456789</span><br>
                        <span>123456789</span>
                      </td>
                      <td class="fit-left-w">
                        <span>1200 บาท</span><br>
                        <span>0 บาท</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Roseedee Cehlaeh</span><br>
                        <span>12-12-67</span>
                      </td>
                      <td class="fit-left-w">
                        เล่นแปปๆแล้วเครื่องดับ
                      </td>
                      <td class="end fit-end text-end">
                        <a href="" class="my-icon-button-table-inline my-button-light" data-bs-toggle="modal" data-bs-target="#form"><img src="/icons/edit.png" alt="">จัดการ</a>
                      </td>
                      <div class="modal fade" id="form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog my-modal-dialog-task">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">จัดการยี่ห้ออุปกรณ์</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="my-modal-content-task">
                              <a href="" class="my-button-modal my-button-light" data-bs-toggle="modal" data-bs-target="">ดูรายละเอียด</a>
                              <a href="" class="my-button-modal my-button-success" data-bs-toggle="modal" data-bs-target="">ปรับสถานะงาน</a>
                              <a href="" class="my-button-modal my-button-edit" data-bs-toggle="modal" data-bs-target="">แก้ไขข้อมูล</a>
                              <a href="" class="my-button-modal my-button-bin" data-bs-toggle="modal" data-bs-target="">ลบงาน</a>
                            </div>
                            <div class="modal-footer"></div>
                          </div>
                        </div>
                      </div>
                    </tr>
                    <tr>
                      <td class="start text-center fit" style="background-color: var(--color-inprogress);">
                        <span>กำลังดำเนินการ</span><br>
                        <span>216547</span>
                      </td>
                      <td class="text-center fit">
                        <span>Roseedee Cehlaeh</span><br>
                        <span>12-12-67</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Customer Name</span><br>
                        <span>0653286598</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Asus</span><br>
                        <span>Tuf Gaming 3</span>
                      </td>
                      <td class="fit-left-w">
                        <span>123456789</span><br>
                        <span>123456789</span>
                      </td>
                      <td class="fit-left-w">
                        <span>1200 บาท</span><br>
                        <span>0 บาท</span>
                      </td>
                      <td class="fit-left-w">
                        <span>Roseedee Cehlaeh</span><br>
                        <span>12-12-67</span>
                      </td>
                      <td class="fit-left-w">
                        เล่นแปปๆแล้วเครื่องดับ
                      </td>
                      <td class="end fit-end text-end">
                        <a href="" class="my-icon-button-table-inline my-button-light" data-bs-toggle="modal" data-bs-target="#form"><img src="/icons/edit.png" alt="">จัดการ</a>
                      </td>
                      <div class="modal fade" id="form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog my-modal-dialog-task">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">จัดการยี่ห้ออุปกรณ์</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="my-modal-content-task">
                              <a href="" class="my-button-modal my-button-light" data-bs-toggle="modal" data-bs-target="">ดูรายละเอียด</a>
                              <a href="" class="my-button-modal my-button-success" data-bs-toggle="modal" data-bs-target="">ปรับสถานะงาน</a>
                              <a href="" class="my-button-modal my-button-edit" data-bs-toggle="modal" data-bs-target="">แก้ไขข้อมูล</a>
                              <a href="" class="my-button-modal my-button-bin" data-bs-toggle="modal" data-bs-target="">ลบงาน</a>
                            </div>
                            <div class="modal-footer"></div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <%- include('../components/footer.ejs') %>
        </div>
    </div>

    <script src="/js/calc-layout.js"></script>
    <script src="/js/left-menu-expand.js"></script>

</body>

</html>