<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <header class="p-2 my-header my-background">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
      <img src="/brand/logo-sm.png" alt="">
    </a>

    <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">โปรไฟล์</a></li>
          <li><a class="dropdown-item" href="#">ตั้งค่า</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">ออกจากระบบ</a></li>
        </ul>
    </div>
  </header>

  <div class="my-body">
    <div class="sidebar-left">
      <nav class="left-menu-container  my-background p-0">
        <div class="p-3 sidebar-left-header">
          <h4 class="m-0">ระบบงานซ่อม</h4>
        </div>
        <div class="left-menu-item-expand" href="">
          <a class="left-menu-expand-header">
            <p class="m-0">
              <img src="/icons/left-menu/dashboard.png"/>
              คลังงานซ่อม
            </p>
            <img class="icon-expand" src="/icons/left-menu/arrow.png" alt="">
          </a>
          <div class="sub-left-menu-expand-container">
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>งานซ่อมทั้งหมด</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>กำลังดำเนินการ</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>เสร็จแล้ว</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>ยกเลิกซ่อม</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>อื่นๆ</a>
          </div>
        </div>
        <a class="left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>เพิ่มงานซ่อมด่วน</p></a>
        <a class="left-menu-item" href=""><img src="/icons/left-menu/add.png"/>เพิ่มงานซ่อมทิ้งไว้</p></a>
        <div class="left-menu-item-expand" href="">
          <div class="left-menu-expand-header">
            <p class="m-0">
              <img src="/icons/left-menu/dashboard.png"/>
              คลังงานซ่อม
            </p>
            <img class="icon-expand" src="/icons/left-menu/arrow.png" alt="">
          </div>
          <div class="sub-left-menu-expand-container">
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>งานซ่อมทั้งหมด</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>กำลังดำเนินการ</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>เสร็จแล้ว</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>ยกเลิกซ่อม</a>
            <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>อื่นๆ</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="my-content">
      
    </div>
  </div>
  
  <script src="js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.left-menu-item-expand').click(function(e) {
        e.preventDefault();
        $(this).find('.left-menu-expand-header').toggleClass('expanded');
        $(this).find('.sub-left-menu-expand-container').slideToggle('fast');
        $(this).find('.icon-expand').toggleClass('rotate');
      });
    });
  </script>>

</body>
</html>