<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance System</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/index.css" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body>
  <%- include('./components/header.ejs') %>

  <div class="main">
    <%- include('./components/left-sidebar.ejs') %>
    <div class="body">
      <div class="article">
        <div class="content">
          <div class="content-header">
            <h5>แดชบอร์ด</h5>
            <hr>
          </div>
          <div class="chart-container p-2">
            <div class="my-chart">
              <h6>สรุปงานซ่อมรายวัน</h6>
              <div class="chart">
                <canvas id="myChart"></canvas>
              </div>
            </div>
            <div class="my-chart">
              <h6>สรุปงานซ่อมรายเดือน</h6>
              <div class="chart">
                <canvas id="myChart1"></canvas>
              </div>
            </div>
          </div>
          <div class="status-repair">
            <div class="col-lg-3 col-xs-6 text-center">
              <span class="dot-status" style="background-color: red;"></span> งานซ่อมทั้งหมด
            </div>
            <div class="col-lg-3 col-xs-6 text-center">
              <span class="dot-status" style="background-color: blue;"></span> งานซ่อมทั้งหมด
            </div>
            <div class="col-lg-3 col-xs-6 text-center">
              <span class="dot-status" style="background-color: green;"></span> งานซ่อมทั้งหมด
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <h5>ข้อมูลทั้งหมดในระบบ</h5>
            <hr>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <h5>ประวัติการทำงาน</h5>
            <hr>
          </div>
          <div class="table-container">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center">ผู้กระทำ</th>
                  <th class="text-center">เวลา</th>
                  <th class="text-center">อินวอยด์</th>
                  <th>รายละเอียด</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                  <td class="text-center fit">
                    <span>12/08/2567</span><br>
                    <span>8:00:12</span>
                  </td>
                  <td class="text-center fit">526847</td>
                  <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                </tr>
                <tr>
                  <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                  <td class="text-center fit">
                    <span>12/08/2567</span><br>
                    <span>8:00:12</span>
                  </td>
                  <td class="text-center fit">526847</td>
                  <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                </tr>
                <tr>
                  <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                  <td class="text-center fit">
                    <span>12/08/2567</span><br>
                    <span>8:00:12</span>
                  </td>
                  <td class="text-center fit">526847</td>
                  <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                </tr>
                <tr>
                  <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                  <td class="text-center fit">
                    <span>12/08/2567</span><br>
                    <span>8:00:12</span>
                  </td>
                  <td class="text-center fit">526847</td>
                  <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                </tr>
                <tr>
                  <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                  <td class="text-center fit">
                    <span>12/08/2567</span><br>
                    <span>8:00:12</span>
                  </td>
                  <td class="text-center fit">526847</td>
                  <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                </tr>
                <tr>
                  <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                  <td class="text-center fit">
                    <span>12/08/2567</span><br>
                    <span>8:00:12</span>
                  </td>
                  <td class="text-center fit">526847</td>
                  <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </div>
  
  
  <script src="/js/left-menu-expand.js"></script>
  <script>

    function ran() {
      return Math.floor(Math.random() * 10);
    }

    const xValues = [1,2,3,4,5,6,7];

    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          data: [ran(),ran(),ran(),ran(),ran(),ran(),ran()],
          borderColor: "red",
          fill: false
        },{
          data: [ran(),ran(),ran(),ran(),ran(),ran(),ran()],
          borderColor: "green",
          fill: false
        },{
          data: [ran(),ran(),ran(),ran(),ran(),ran(),ran()],
          borderColor: "blue",
          fill: false
        }]
      },
      options: {
        legend: {display: false}
      }
    });
    const xValues1 = [1, 2, 3, 4,5,6,7,8,9,10];

    new Chart("myChart1", {
      type: "bar",
      data: {
        labels: xValues1,
        datasets: [{
          data: [ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran()],
          backgroundColor: 'green',
        },{
          data: [ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran()],
          backgroundColor: 'blue',
        },{
          data: [ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran(),ran()],
          backgroundColor: 'red',
        }]
      },
      options: {
        legend: {display: false}
      }
    });
  </script>

</body>
</html>