<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <header class="p-2 my-header my-background">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
      <img src="/brand/logo-sm.png" alt="" style="height: 48px">
    </a>

    <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">โปรไฟล์</a></li>
          <li><a class="dropdown-item" href="#">ตั้งค่า</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">ออกจากระบบ</a></li>
        </ul>
    </div>
  </header>
  <main class="container-fruit">
    <nav class="my-background">
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
      <a>test 1</a>
    </nav>
    <article class="my-background">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere magnam magni aperiam odio, accusamus provident animi amet minima, aut id dolorum sint, voluptatibus quae quod sit sapiente dicta cupiditate a.
    </article>
  </main>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>