<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance System</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/search.css" />

</head>
<body>
  <%- include('./components/header.ejs') %>

  <div class="main">
    <%- include('./components/left-sidebar.ejs') %>
    <div class="body">
      <div class="article">
        <div class="content">
          <div class="content-header">
            <h5>ค้นหาและจัดการงานซ่อม</h5>
            <hr>
          </div>
          <form action="" class="search-form-container">
            <div class="my-input-container">
              <label for="select-type" class="mb-2">เลือกประเภท</label>
              <select class="my-input-lg" id="input1">
                <option value="1" selected>เลขอินวอยด์</option>
                <option value="2">ชื่อลูกค้า</option>
                <option value="3">เบอร์โทร</option>
                <option value="4">หมายเลขเครื่อง</option>
              </select>
            </div>
            <div class="my-input-container">
              <label for="input-search" class="mb-2">ช่องค้นหาเพื่อจัดการ</label>
              <div class="my-input-group">
                <div>
                  <input type="text" class="my-input-lg" placeholder="ค้นหา">
                  <small class="input-alert">ป้อนข้อมูลให้ถูกต้อง</small>
                </div>
                <div>
                  <button type="submit" class="my-button-lg my-button-primary">ค้นหา</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="content">
          <div class="content-header">
            <h5>ผลการค้นหาข้อมูล</h5>
            <hr>
          </div>
          <div class="result-search-container">
            <div class="result-search-item">
              <caption><h2>#1</h2></caption>
              <table class="table">
                <thead>
                  <tr>
                    <th>หัวข้อ :</th>
                    <th>รายละเอียด</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>ตัวจัดการ :</th>
                    <td><a href="" class="btn btn-sm btn-secondary">เปิดตัวจัดการ</a></td>
                  </tr>
                  <tr>
                    <th>สถานะปัจจุบัน :</th>
                    <td><a href="" class="btn btn-sm btn-primary">รับเครื่องแล้ว</a></td>
                  </tr>
                  <tr>
                    <th>ผู้รับเรื่อง :</th>
                    <td>รอซีดี เจ๊ะแล๊ะ</td>
                  </tr>
                  <tr>
                    <th>วันที่รับเรื่อง :</th>
                    <td>21/08/2567 08:00:25</td>
                  </tr>
                  <tr>
                    <th>อินวอยด์ :</th>
                    <td>102568</td>
                  </tr>
                  <tr>
                    <th>ชื่อ :</th>
                    <td>นายสมมุติ นามสกุล</td>
                  </tr>
                  <tr>
                    <th>เบอร์โทรติดต่อ :</th>
                    <td>26532562548</td>
                  </tr>
                  <tr>
                    <th>ยี่ห้อสินค้า :</th>
                    <td>Notebook Sumsung : G21574</td>
                  </tr>
                  <tr>
                    <th>หมายเลขเครื่อง :</th>
                    <td>2654897563133</td>
                  </tr>
                  <tr>
                    <th>ทุนเบิกอะไหล่ :</th>
                    <td>540 บาท</td>
                  </tr>
                  <tr>
                    <th>ทุนในการซ่อม :</th>
                    <td>0 บาท</td>
                  </tr>
                  <tr>
                    <th>ราคาซ่อม :</th>
                    <td>3000 บาท</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="result-search-item">
              <caption><h2>#2</h2></caption>
              <table class="table">
                <thead>
                  <tr>
                    <th>หัวข้อ :</th>
                    <th>รายละเอียด</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>ตัวจัดการ :</th>
                    <td><a href="" class="btn btn-sm btn-secondary">เปิดตัวจัดการ</a></td>
                  </tr>
                  <tr>
                    <th>สถานะปัจจุบัน :</th>
                    <td><a href="" class="btn btn-sm btn-primary">รับเครื่องแล้ว</a></td>
                  </tr>
                  <tr>
                    <th>ผู้รับเรื่อง :</th>
                    <td>รอซีดี เจ๊ะแล๊ะ</td>
                  </tr>
                  <tr>
                    <th>วันที่รับเรื่อง :</th>
                    <td>21/08/2567 08:00:25</td>
                  </tr>
                  <tr>
                    <th>อินวอยด์ :</th>
                    <td>102568</td>
                  </tr>
                  <tr>
                    <th>ชื่อ :</th>
                    <td>นายสมมุติ นามสกุล</td>
                  </tr>
                  <tr>
                    <th>เบอร์โทรติดต่อ :</th>
                    <td>26532562548</td>
                  </tr>
                  <tr>
                    <th>ยี่ห้อสินค้า :</th>
                    <td>Notebook Sumsung : G21574</td>
                  </tr>
                  <tr>
                    <th>หมายเลขเครื่อง :</th>
                    <td>2654897563133</td>
                  </tr>
                  <tr>
                    <th>ทุนเบิกอะไหล่ :</th>
                    <td>540 บาท</td>
                  </tr>
                  <tr>
                    <th>ทุนในการซ่อม :</th>
                    <td>0 บาท</td>
                  </tr>
                  <tr>
                    <th>ราคาซ่อม :</th>
                    <td>3000 บาท</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="result-search-item">
              <caption><h2>#3</h2></caption>
              <table class="table">
                <thead>
                  <tr>
                    <th>หัวข้อ :</th>
                    <th>รายละเอียด</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>ตัวจัดการ :</th>
                    <td><a href="" class="btn btn-sm btn-secondary">เปิดตัวจัดการ</a></td>
                  </tr>
                  <tr>
                    <th>สถานะปัจจุบัน :</th>
                    <td><a href="" class="btn btn-sm btn-primary">รับเครื่องแล้ว</a></td>
                  </tr>
                  <tr>
                    <th>ผู้รับเรื่อง :</th>
                    <td>รอซีดี เจ๊ะแล๊ะ</td>
                  </tr>
                  <tr>
                    <th>วันที่รับเรื่อง :</th>
                    <td>21/08/2567 08:00:25</td>
                  </tr>
                  <tr>
                    <th>อินวอยด์ :</th>
                    <td>102568</td>
                  </tr>
                  <tr>
                    <th>ชื่อ :</th>
                    <td>นายสมมุติ นามสกุล</td>
                  </tr>
                  <tr>
                    <th>เบอร์โทรติดต่อ :</th>
                    <td>26532562548</td>
                  </tr>
                  <tr>
                    <th>ยี่ห้อสินค้า :</th>
                    <td>Notebook Sumsung : G21574</td>
                  </tr>
                  <tr>
                    <th>หมายเลขเครื่อง :</th>
                    <td>2654897563133</td>
                  </tr>
                  <tr>
                    <th>ทุนเบิกอะไหล่ :</th>
                    <td>540 บาท</td>
                  </tr>
                  <tr>
                    <th>ทุนในการซ่อม :</th>
                    <td>0 บาท</td>
                  </tr>
                  <tr>
                    <th>ราคาซ่อม :</th>
                    <td>3000 บาท</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </div>
  
  <script src="/js/calc-layout.js"></script>
  <script src="/js/left-menu-expand.js"></script>

</body>
</html>