<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance System</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/signin.css" />

</head>
<body>
  <div class="form-card my-background">
    <% if (!changeAccount) { %>
      <div class="user-img">
        <img src="/users/my-icon.jpg" alt="">
      </div>
      <h3>Roseedee</h3>  
    <% }else { %>
      <div class="user-img">
        <img src="/brand/logo-profile.png" alt="">
      </div>
    <% } %>
    <form action="">
        <% if (changeAccount) { %>
          <div class="my-input-container">
              <label for="">ชื่อผู้ใช้งาน</label>
              <input type="text" class="my-input" placeholder="user123" name="username">
          </div>
        <% } %>
        <div class="my-input-container">
            <label for="">รหัสผ่าน</label>
            <div class="my-input-button-container">
                <input type="text" class="my-input" placeholder="mypass#552" name="password">
                <a href="" class="my-button my-button-light"><img src="/icons/visible.png" alt=""></a>
            </div>
        </div>
        <button type="submit" class="my-button my-button-save">เข้าสู่ระบบ</button>
    </form>
    <% if(!changeAccount) { %>
      <a class="change-account pt-3" href="/signin/change-account"><img src="/icons/logout.png" alt=""> สลับชื่อผู้ใช้งาน</a>
    <% }else { %>
      <a class="change-account pt-3" href="javascript:history.back()">ย้อนกลับ</a>
    <% } %>
  </div>
</body>
</html>