<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">จัดการยี่ห้ออุปกรณ์</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="my-input-container">
            <label for="">ยี่ห้ออุปกรณ์</label>
            <input type="text" class="my-input my-input-sm" placeholder="ไทย - อังกฤษ - ตัวเลข"> 
          </div>
        </div>
        <div class="modal-footer">
          <button class="my-icon-button-sm my-button-light" data-bs-dismiss="modal"><img src="/icons/close.png" alt=""> ยกเลิก</ิ>
          <button type="submit" class="my-icon-button-sm my-button-save"><img src="/icons/save.png" alt=""> บันทึกข้อมูล</button>
        </div>
      </form>
    </div>
  </div>
</div>