.chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-chart {
    width: 50%;
    min-width: 500px;
    h6 {
        padding-left: 20px;
    }
    .chart {
        display: flex;
        justify-content: center;
        padding: 10px 20px 20px 20px;
        width: 100%;
    }
}

.status-repair {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .dot-status {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 10px;
            border-radius: 10px;
            margin-right: 10px;

        }
    }

}

.table-container {
    width: 100%;
    padding: 0px 20px;
}

table.table {
  border: none;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

table.table th, table.table td {
  border: none;
}

.table.table tbody {
  th, td {
    background-color: var(--row-data-table-color);
    font-size: var(--table-font-size);
    vertical-align:middle;
    
    span {
      font-size: var(--table-font-size);
    }
  }

  th.fit, td.fit {
    width: 1px;
    min-width: fit-content;
    white-space: nowrap;
    padding: 10px 20px;
  }

  
  td.start {
    border-radius: 5px 0px 0px 5px;
  }
  
  td.end{
    border-radius: 0px 5px 5px 0px;
  }
}