.search-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 15px;

    .my-input-container:nth-child(1) {
        flex-grow: 2;
    }

    .my-input-container:nth-child(2) {
        flex-grow: 10;
        .my-input-group {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 15px;
        }
    }
}

.result-search-container {
    padding: 10px 20px;

}

.result-search-item {

    table.table {

        th, td, a {
            vertical-align: middle;
            font-size: var(--table-font-size);
        }

        thead tr {
            th{
                border: none;
                background-color: aliceblue;
            }
    
            th:first-child {
                text-align: end;
                border-radius: var(--table-radius) 0px 0px var(--table-radius);
                width: 1px;
                min-width: fit-content;
                white-space: nowrap;
            }
            
            th:last-child {
                border-radius: 0px var(--table-radius) var(--table-radius) 0px;
            }
    
        }
    
        tbody {
            th:first-child {
                text-align: end;
                border-radius: var(--table-radius) 0px 0px var(--table-radius);
                width: 1px;
                min-width: fit-content;
                white-space: nowrap;
            }


            tr:last-child th, tr:last-child td{
                border: none;
            }
        }
    }
}
