.body { /*main container of article*/
    position: relative;
    left: 20%;
    width: 80%;
    min-height: 92vh;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article { /*sub container in main container*/
    display: flex;
    flex-direction: column;
    
}

.content {
    margin-top: 10px;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    min-height: 80px;
    background-color: white;
    box-shadow: 3px 3px 2px #0000000d;
    padding-bottom: 5px;

    .content-header {
        
        h5 {
            padding-top: 10px;
            padding-left: 20px;
        }

        hr {
            padding: 0px;
            margin: 10px 0px;
        }
    }
}

.chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-chart {
    width: 50%;
    min-width: 500px;
    h6 {
        padding-left: 20px;
    }
    .chart {
        display: flex;
        justify-content: center;
        padding: 10px 20px 20px 20px;
        width: 100%;
    }
}

.status-repair {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .dot-status {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 10px;
            border-radius: 10px;
            margin-right: 10px;

        }
    }

}


