header {
    width: var(--header-w);
    height: var(--header-h);
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a img {
        height: 32px;
    }
}