@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* main */
    --main-background: #d9f5f9;

    /* header */
    --header-h: 8vh;
    --header-w: 100%;

    /* sidebar left */
    --sidebar-status: block;
    --sidebar-left-w: 20%;
    
    /* content */
    --content-w: 80%;
    --content-min-w: 515px;

    /* table */
    --table-radius: 5px;
    --table-font-size: 0.8rem;
    --row-data-table-color: #f4f4f4;
}

@media screen and (max-width: 1150px) {
    :root {
        --sidebar-status: none;
    }
}