@import url(res.css);
@import url(header.css);
@import url(sidebar-left.css);
@import url(content.css);
@import url(footer.css);
@import url(components/input.css);

* {
    font-family: "kanit", sans-serif;
    font-size: 1rem;
}

body {
    background-color: var(--main-background);
    min-height: 100vh;
}

.my-background {
    background-color: white;
    box-shadow: 3px 3px 2px #0000000d;
}

.main {
    position: absolute;
    top: var(--header-h);
    left: 0px;
    width: 100%;
    min-height: 92vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

hr {
    color: #a1a1a1;
}

small.input-alert {
    display: block;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.4);
}

span.details, span.details * {
    font-size: 14px;
}