<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance System</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/brand-task-manage.css" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body>
  <%- include('../components/header.ejs') %>

  <div class="main">
    <%- include('../components/left-sidebar.ejs') %>
    <div class="body">
      <div class="article">
        <div class="content pb-3">
            <div class="content-header">
              <h5>ตัวจัดการเพิ่มเติม</h5>
              <hr>
              <div class="my-form">
                <div class="my-input-group-container p-0">
                  <a href="" class="my-icon-btn my-btn-sm my-btn-light"><img src="/icons/brand.png" alt=""> เพิ่มยี่ห้อที่ไม่มีในระบบ</a>
                </div>
              </div>
            </div>
        </div>
        <div class="content">
            <div class="content-header">
              <h5>เพิ่มงานซ่อมที่ต้องค้างคืน</h5>
              <hr>
            </div>
            <div class="table-container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center">ผู้กระทำ</th>
                    <th class="text-center">เวลา</th>
                    <th class="text-center">อินวอยด์</th>
                    <th>รายละเอียด</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                    <td class="text-center fit">
                      <span>12/08/2567</span><br>
                      <span>8:00:12</span>
                    </td>
                    <td class="text-center fit">526847</td>
                    <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                  </tr>
                  <tr>
                    <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                    <td class="text-center fit">
                      <span>12/08/2567</span><br>
                      <span>8:00:12</span>
                    </td>
                    <td class="text-center fit">526847</td>
                    <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                  </tr>
                  <tr>
                    <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                    <td class="text-center fit">
                      <span>12/08/2567</span><br>
                      <span>8:00:12</span>
                    </td>
                    <td class="text-center fit">526847</td>
                    <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                  </tr>
                  <tr>
                    <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                    <td class="text-center fit">
                      <span>12/08/2567</span><br>
                      <span>8:00:12</span>
                    </td>
                    <td class="text-center fit">526847</td>
                    <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                  </tr>
                  <tr>
                    <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                    <td class="text-center fit">
                      <span>12/08/2567</span><br>
                      <span>8:00:12</span>
                    </td>
                    <td class="text-center fit">526847</td>
                    <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                  </tr>
                  <tr>
                    <td class="start text-center fit">รอซีดี เจ๊ะแล๊ะ</td>
                    <td class="text-center fit">
                      <span>12/08/2567</span><br>
                      <span>8:00:12</span>
                    </td>
                    <td class="text-center fit">526847</td>
                    <td class="end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, qui.</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <%- include('../components/footer.ejs') %>
    </div>
  </div>

  <script src="/js/calc-layout.js"></script>
  <script src="/js/left-menu-expand.js"></script>

</body>
</html>
