<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance System</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/status-task-manage.css" />

</head>
<body>
  <%- include('../components/header.ejs') %>

  <div class="main">
    <%- include('../components/left-sidebar.ejs') %>
    <div class="body">
      <div class="article">
        <div class="content pb-3">
            <div class="content-header">
              <h5>สถานะหลักของงานซ่อม</h5>
              <hr>
            </div>
            <div class="table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th class="start fit">สถานะงานซ่อม</th>
                    <th>รายละเอียด</th>
                    <th class="text-center end">สีสถานะ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="fit" style="color: var(--color-inprogress);">กำลังซ่อม</td>
                    <td>คือสถานะที่บ่งบอกว่างานซ่อมนี้กำลังดำเนินการซ๋อมอยู่</td>
                    <td><div class="status-color bg-status-process"></div></td>
                  </tr>
                  <tr>
                    <td class="fit" style="color: var(--color-success);">ซ่อมเสร็จแล้ว</td>
                    <td>คือสถานะที่บ่งบอกว่างานซ่อมนั่นๆได้ทำการซ่อมเสร็จแล้ว และมีผลกับสรุปยอดงานซ่อมด้วย</td>
                    <td><div class="status-color bg-status-success"></div></td>
                  </tr>
                  <tr>
                    <td class="fit" style="color: var(--color-received);">รับเครื่องแล้ว</td>
                    <td>คือสถานะที่ลูกค้ามารับเครื่องกลับไปแล้วพร้อมกับได้รับเงินเข้าระบบ และมีผลกับสรุปยอดงานซ่อมด้วย</td>
                    <td><div class="status-color bg-status-received"></div></td>
                  </tr>
                  <tr>
                    <td class="fit" style="color: var(--color-cancel);">รับเครื่องแล้ว</td>
                    <td>คือสถานะที่ลูกค้าขอยกเลิกการซ่อม หรือทำการซ่อมไม่ผ่าน จะสมารถใส่เหตุผลและคำอธิบายว่าทำไมซ่อมไม่ได้</td>
                    <td class="text-end"><div class="status-color bg-status-cancel"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="content pb-3">
          <div class="content-header">
            <h5>ตัวจัดการเพิ่มเติม</h5>
            <hr>
          </div>
          <div class="my-form">
            <div class="my-input-group-container p-0">
              <a href="" class="my-icon-button my-button-light" data-bs-toggle="modal"
                data-bs-target="#new-brand"><img src="/icons/pc.png" alt="">สร้างสถานะงานซ่อม</a>
            </div>
          </div>
          <div class="modal fade" id="new-brand" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">จัดการสถานะงานซ่อม</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="my-input-container">
                      <label for="">สถานะที่จะสร้าง</label>
                      <input type="text" class="my-input" placeholder="ไทย - อังกฤษ - ตัวเลข">
                    </div>
                    <div class="my-input-container pt-2">
                      <label for="">รายละเอียดของสถานะ</label>
                      <textarea class="my-input" placeholder="ไทย - อังกฤษ - ตัวเลข" rows="4"></textarea>
                    </div>
                    <div class="my-input-containe pt-2">
                      <label for="">สีของสถานะ</label>
                      <div class="my-input-button-container">
                        <input type="text" class="my-input my-input-sm" placeholder="#000000" readonly>
                        <input type="color" class="my-button">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="my-icon-button-sm my-button-light" data-bs-dismiss="modal"><img src="/icons/close.png" alt=""> ยกเลิก</>
                    <button type="submit" class="my-icon-button-sm my-button-save"><img src="/icons/save.png" alt=""> บันทึกข้อมูล</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="content pb-3">
          <div class="content-header">
            <h5>สถานะหลักของงานซ่อม</h5>
            <hr>
          </div>
          <div class="table-container">
            <span class="details"><span style="color: red; font-weight: bold;">หมายเหตุ!</span> สถานะที่กำหนดเองคือสถานะทั่วไปที่ใช้บ่งบอกว่างานซ่อมนั่นๆไม่อยู่ในสถานะเกณฑ์หลัก เช่น รอส่งศูนย์ รออะไหล่ รอการซ่อม เพื่อที่จะแจ้งให้ช่างผู้ซ่อม และผู้ที่มาซ่อมทราบว่า งานซ่อมดังกล่าวไปถึงไหนแล้ว</span>
            <table class="table mt-3">
              <thead>
                <tr>
                  <th class="start fit">สถานะงานซ่อม</th>
                  <th>รายละเอียด</th>
                  <th class="text-center">สีสถานะ</th>
                  <th class="text-center end">จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fit" style="color: var(--color-inprogress);">สถานะที่สร้างเอง</td>
                  <td>คือสถานะที่บ่งบอกว่างานซ่อมนี้กำลังดำเนินการซ๋อมอยู่</td>
                  <td class="status-color"><div class="status-color bg-status-process"></div></td>
                  <td class="text-center fit">
                    <a href="" class="my-icon-button-table-inline my-button-edit"><img src="/icons/edit-white.png" alt="">แก้ไข</a>
                    <a href="" class="my-icon-button-table-inline my-button-bin"><img src="/icons/trash-bin-white.png" alt="">ลบ</a>
                  </td>
                </tr>
                <tr>
                  <td class="fit" style="color: var(--color-inprogress);">สถานะที่สร้างเอง</td>
                  <td>คือสถานะที่บ่งบอกว่างานซ่อมนี้กำลังดำเนินการซ๋อมอยู่</td>
                  <td class="status-color"><div class="status-color bg-status-cancel"></div></td>
                  <td class="text-center fit">
                    <a href="" class="my-icon-button-table-inline my-button-edit"><img src="/icons/edit-white.png" alt="">แก้ไข</a>
                    <a href="" class="my-icon-button-table-inline my-button-bin"><img src="/icons/trash-bin-white.png" alt="">ลบ</a>
                  </td>
                </tr>
                <tr>
                  <td class="fit" style="color: var(--color-inprogress);">สถานะที่สร้างเอง</td>
                  <td>คือสถานะที่บ่งบอกว่างานซ่อมนี้กำลังดำเนินการซ๋อมอยู่</td>
                  <td class="status-color"><div class="status-color bg-status-success"></div></td>
                  <td class="text-center fit">
                    <a href="" class="my-icon-button-table-inline my-button-edit"><img src="/icons/edit-white.png" alt="">แก้ไข</a>
                    <a href="" class="my-icon-button-table-inline my-button-bin"><img src="/icons/trash-bin-white.png" alt="">ลบ</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      </div>
      <%- include('../components/footer.ejs') %>
    </div>
  </div>

  <script src="/js/calc-layout.js"></script>
  <script src="/js/left-menu-expand.js"></script>

</body>
</html>
