.body {
    position: relative;
    left: var(--sidebar-left-w);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article { /*main container of article*/
    display: flex;
    flex-direction: column;
}

.content { /*sub container in main container*/
    margin-top: 10px;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    min-height: 80px;
    min-width: 500px;
    background-color: white;
    box-shadow: 3px 3px 2px #0000000d;
    padding-bottom: 5px;

    .content-header {
        
        h5 {
            padding-top: 10px;
            padding-left: 20px;
        }

        hr {
            padding: 0px;
            margin: 10px 0px;
        }
    }
}

@media screen and (max-width: 1150px) {
    
}
