.my-button-primary {
    color: white;
    background-color: var(--color-primary);
    &:hover {
        background-color: var(--color-primary-hover);
    }
}

.my-button-save {
    color: black;
    background-color: #accda3;
    &:hover {
        background-color: #c0e6b5;
    }
}

.my-button-light {
    background-color: var(--color-light);
    &:hover {
        background-color: var(--color-light-hover);
    }
}

.my-button-inprogress {
    color: white;
    background-color: var(--color-inprogress);
    &:hover {
        color: white;
        background-color: var(--color-inprogress-hover);
    }
}

.my-button-success {
    color: white;
    background-color: var(--color-success);
    &:hover {
        color: white;
        background-color: var(--color-success-hover);
    }
}

.my-button-received {
    color: white;
    background-color: var(--color-received);
    &:hover {
        background-color: var(--color-received-hover);
    }
}

.my-button-cancel {
    color: white;
    background-color: var(--color-cancel);
    &:hover {
        color: white;
        background-color: var(--color-cancel-hover);
    }
}

.my-button-edit {
    color: white;
    background-color: #0DABFD;
    &:hover {
        background-color: #49bfff;
    }
}

.my-button-bin {
    color: white;
    background-color: #FB686E;
    &:hover {
        background-color: #ff9295;
    }
}