<div class="sidebar-left">
    <nav class="left-menu-container  my-background p-0">
      <div class="p-3 sidebar-left-header">
        <h4 class="m-0">ระบบงานซ่อม</h4>
      </div>
      <a class="left-menu-item <%= page === 'dashboard' ? 'active' : '' %>" href="/"><img src="/icons/left-menu/dashboard.png"/>แดชบอร์ด</p></a>
      <a class="left-menu-item <%= page === 'search' ? 'active' : '' %>" href="/search"><img src="/icons/left-menu/search.png"/>ค้นหาและจัดการงานซ่อม</p></a>
      <a class="left-menu-item <%= page === 'quick-add-task' ? 'active' : '' %>" href="/quick-add-task"><img src="/icons/left-menu/quick-add.png"/>เพิ่มงานซ่อมด่วน</p></a>
      <a class="left-menu-item <%= page === 'add-task' ? 'active' : '' %>" href="/add-task"><img src="/icons/left-menu/add.png"/>เพิ่มงานซ่อมทิ้งไว้</p></a>
      <div class="left-menu-item-expand" href="">
        <div class="left-menu-expand-header">
          <p class="m-0">
            <img src="/icons/left-menu/brand.png"/>
            จัดการยี่ห้อและสถานะงานซ่อม
          </p>
          <img class="icon-expand" src="/icons/left-menu/arrow.png" alt="">
        </div>
        <div class="sub-left-menu-expand-container">
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/brand.png"/>จัดการยี่ห้อ</a>
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/model.png"/>จัดการรุ่น</a>
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/status.png"/>จัดการสถานะ</a>
        </div>
      </div>
      <div class="left-menu-item-expand" href="">
        <div class="left-menu-expand-header">
          <p class="m-0">
            <img src="/icons/left-menu/treasury.png"/>
            คลังงานซ่อม
          </p>
          <img class="icon-expand" src="/icons/left-menu/arrow.png" alt="">
        </div>
        <div class="sub-left-menu-expand-container">
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>งานซ่อมทั้งหมด</a>
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>กำลังดำเนินการ</a>
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>เสร็จแล้ว</a>
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>ยกเลิกซ่อม</a>
          <a class="sub-left-menu-item" href=""><img src="/icons/left-menu/quick-add.png"/>อื่นๆ</a>
        </div>
      </div>
    </nav>
  </div>