@import url(../components/table.css);

.table.table tbody, .table.table thead {
    th, td {
        font-size: 14px;
    }
    
    span {
        font-size: 14px;
    }

    th.fit, td.fit {
        width: 1px;
        min-width: fit-content;
        white-space: nowrap;
        padding: 10px 30px;
    }

    th.fit-w, td.fit-w {
        width: 1px;
        min-width: fit-content;
        white-space: nowrap;
        padding: 10px 50px;
    }

    th.fit-left, td.fit-left {
        width: 1px;
        min-width: fit-content;
        white-space: nowrap;
        padding: 10px 30px 10px 10px;
    }

    th.fit-left-w, td.fit-left-w {
        width: 1px;
        min-width: fit-content;
        white-space: nowrap;
        padding: 10px 50px 10px 10px;
    }

    th.fit-end, td.fit-end {
        min-width: fit-content;
        white-space: nowrap;
        padding-right: 20px;
    }
}